
<%-include('header')-%>

<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between">
  <a class="navbar-brand mx-3 " href="#">
   <strong> ARSHA MOHANAN</strong>
  </a>
  <form action="/signout">
  <button  class=" bg-info rounded-pill mx-3 border-4" type="submit">Signout</button>
  </form>
</nav>
<header class="masthead d-flex align-items-center">
  <div class="text1 container text-center mb-1">
      <h1 class="mb-1 text-black font-weight-bold">THALASSERY</h1>
      <h5 class="text-black font-weight-bold">Thalassery formerly Tellicherry is a municipality and commercial city<br> on the Malabar Coast in Kannur district, in the state of Kerala bordered by the districts of Mahe,Kozhikode,Wayanad,Kasaragod and Kodagu 
        . Thalassery municipality has a population just under 100,000.[3] Thalassery Heritage City has an area of 23.98 square kilometres (9.26 sq mi). Thalassery has an altitude ranging from 2.5 to 30 metres (8 ft 2 in to 98 ft 5 in) above mean sea-level.</h5>
  </div>
</header>

<%-include('footer')-%>
